
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px black;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 40px;
    border: solid 2px black;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 80%;
    height: 500px;
    align-items: center;
    border: solid 2px black;
    margin: 10px;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
}